<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="newChat">+</div>

    <div class="chatSearch" style="display: none">
      <input type="text" id="searchInput" placeholder="Search for a user..." />
      <button id="searchButton">Search</button>
      <div class="searchResults"></div>
    </div>
    <div class="container">
      <button class="sidebar-toggle" onclick="toggleSidebar()">☰ Menu</button>

      <div class="sidebar">
        <input type="text" class="search-bar" placeholder="Search users..." />
        <div class="user-list"></div>

        <div
          class="loading"
          style="display: none; text-align: center; padding: 10px"
        >
          <p style="color: white">Loading...</p>
        </div>
      </div>
      <div class="convo">
        <div class="chat-header"></div>
        <div class="messages">
          <div class="placeHolder">
            <h1>select a user to chat with!</h1>
            <img src="/img/planet.png" alt="" />
          </div>
        </div>
      </div>
      <div class="pushNotifications"></div>
      <audio style="display: none" id="remoteAudio" autoplay></audio>
    </div>

    <script src="/js/node-rsa-browser.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/crypto-js@4.1.1/crypto-js.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="/js/dashboard.js"></script>
    <script src="/js/voiceAndVideoCalls.js"></script>
  </body>
</html>
