<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background: url('/img/back.jpg') no-repeat center center fixed;
        background-size: cover;
        backdrop-filter: blur(10px);
        font-family: 'Poppins', sans-serif;
      }
      .container {
        max-width: 500px;
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      h1 {
        text-align: center;
        color: #fff;
      }
      .message {
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        display: none;
        color: white;
        text-align: center;
      }
      .error {
        background-color: #e74c3c;
      }
      .success {
        background-color: #2ecc71;
      }
      form {
        margin-top: 20px;
      }
      input[type='password'],
      input[type='submit'] {
        width: 95%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.2);
        color: #fff;
      }

      input[type='submit'] {
        width: 40%;
      }
      input[type='password']::placeholder {
        color: #eee;
      }
      label {
        color: #fff;
      }
      input[type='submit'] {
        background: #3498db;
        cursor: pointer;
        transition: background 0.3s;
      }
      input[type='submit']:hover {
        background: #2980b9;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Reset Password</h1>

      <!-- Message -->
      <div id="message" class="message"></div>

      <!-- Reset Password Form -->
      <form id="resetPasswordForm">
        <label for="password">New Password:</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter new password"
          required
        />

        <label for="confirmPassword">Confirm New Password:</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Confirm new password"
          required
        />

        <input type="submit" value="Reset Password" />
      </form>
    </div>

    <script>
      document
        .getElementById('resetPasswordForm')
        .addEventListener('submit', function (e) {
          e.preventDefault(); // Prevent form from submitting normally

          const messageDiv = document.getElementById('message');
          messageDiv.style.display = 'none';

          const password = document.getElementById('password').value;
          const confirmPassword =
            document.getElementById('confirmPassword').value;
          const token = '<%= token %>'; // Ensure token is passed from backend

          if (password !== confirmPassword) {
            messageDiv.classList.add('error');
            messageDiv.innerText = 'Passwords do not match.';
            messageDiv.style.display = 'block';
            return;
          }

          fetch(`/api/users/reset-password/${token}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              password: password,
              confirmPassword: confirmPassword,
            }),
          })
            .then((response) => response.json())
            .then((data) => {
              messageDiv.className = 'message';
              messageDiv.classList.add(
                data.status === 'fail' ? 'error' : 'success'
              );
              messageDiv.innerText = data.message;
              messageDiv.style.display = 'block';

              if (data.status === 'success') {
                setTimeout(function () {
                  window.location.href = '/users/login';
                }, 3000);
              }
            })
            .catch((error) => {
              messageDiv.className = 'message error';
              messageDiv.innerText = 'An unexpected error occurred.';
              messageDiv.style.display = 'block';
            });
        });
    </script>
  </body>
</html>
